<!-- basic boilerplate for every single page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <title>Boilerplate</title>
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %> 
    <main class="container mt-2">
        <%- body %><!-- body renders the output of the template where layout() has been called, this happens with the help of ejs-mate -->
    </main>
    <%- include('../partials/footer') %> 

    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <!-- script to validate new and edit form as we are using bootstrap's client side validation and not browsers -->
    <script src="/scripts/validateForms.js"></script>


</body>

</html>